<div class =  "edit-form">
    <form class = "edit" method = "POST" action = "/user/recipes/<%= currentPartialLocals.id %>?_method=PUT">
        <input type = "text" name = "name" value = "<%= currentPartialLocals.name %>" placeholder = "Name" />
        <input type = "text" name = "ingredients" value = "<%= currentPartialLocals.ingredients %>" placeholder = "Ingredients" />
        <input type = "text" name = "instruction" value = "<%= currentPartialLocals.instruction %>" placeholder = "Instruction" />
        <input type = "url" name = "pic" value = "<%= currentPartialLocals.pic %>" placeholder = "Image" />
        <input type = "submit" value = "Complete edit"/>
    </form>
</div>